/* GLOBAL */

body{
    background:#f8f9fa;
    font-family:'Segoe UI',sans-serif;
}

/* LOGIN */

.login-container{
    max-width:400px;
    border-radius:12px;
}

/* NAVBAR */

.navbar-nav .nav-link{
    margin-left:15px;
    font-weight:500;
}

.navbar-nav .btn{
    margin-left:20px;
}

/* CARD */

.card-img-top{
    height:200px;
    object-fit:cover;
}

.card-title{
    font-weight:bold;
}

.card-text{
    color:#6c757d;
}

.btn-success{
    border-radius:20px;
}

/* TABEL */

.table th,
.table td{
    vertical-align:middle;
}